<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilos.css">
    <title>Análisis de sentimientos en Twitter</title>
    
    
</head>

<body class="uno" bgcolor="#2E9AFE" style="border:3px solid blue">
    
    <p class="uno">   
    <center style="text-align: center;">
        <img src="https://www.latinspots.com/files/notas/Gnota_40299.jpg" alt="Twitter" width="500" height="150" style="border: 1px solid blue">
        <br>
        <h1>Análisis de sentimientos en Twitter</h1>
    <form action="/PREDECIR SENTIMIENTOS" method="POST">
        <input type="text" name="palabra" placeholder="ingrese twitt">
        <input type="submit" value="predecir" id="calc_btn" class="btn" />
    </form>
    
    <br>
    {{Promedio}}
    <br>
    <footer>SISTEMAS EXPERTOS NOCTURNO</footer>
    </center>
</p>
</body>

</html>